
@media screen and (min-width: 0px) and (max-width: 767px) {

   .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation-name: none !important;
  }

  .logo {
    padding-top: 0px;
  }

  .fixed-me{
    background: white;
  }

  .responsive-menu-btn>svg.open {
    width: 80%;
    height: auto;
    fill: black;
  }

  .nav-item a{
    color: black;
  }

  inner img {
    height: 80vh;
  }

  .ct-u-display-tablex{
    height: 80vh;
  }

  .responsive-menu-btn>svg.close{
    fill: #000;
  }
  .two-fifth.mcb-wrap{
    width: auto;
  }

  .three-fifth.mcb-wrap{
    width: auto;
  }

  .mcb-wrap-inner {
    display: inline-grid;
  }

  .father-flex{
    display: flex;
  }

  .father-flex2 {
    justify-content: flex-end;
  }

  .nav-search-classi__section {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-search-classi-content select {
    width: 175px;
  }

  select#category__l2{
        width: 180px!important;
  }
  .category-filter.category-dynamic {
        width: 180px!important;
          margin-left: 0px!important;
    border-right: 1px solid #ccc;
  }

  .sec-one{
    display: -webkit-inline-box;
    display: -moz-inline-box;
  }

  .nav-search-classi__range-filter {
    margin-left: 0px;
  }

  #search{
    width: -webkit-fill-available;
    width: -moz-fill-available;
  }

  .slider-inner{
    text-align: center;
    padding: 30px;
    top: 25%;
    left: 0!important;
  }

  .inner img{
    height: 80vh!important;
    object-fit: cover;
  }
      

  .slick-next.slick-arrow{
    display: none!important;
  }

  .slick-prev.slick-arrow{
    display: none!important;
  }

  #search{
    color: black;
  }

  .nav__menu{
    top: 78px;
  }

  .products {
    padding: 100px 6% 0px;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }

  form label{
    width: auto;
  }

  .contact-container h3{
    text-align: center;
    padding-top: 25%;
    color: #fff;
    font-size: 23px;
    background: #ccc;
  }

  .contact-container {
    height: auto;
  }

  .form-contact{
    top: 0;
  }
  .contact{
    display: block;
  }

  .background-sorry img{
    display: none;
  }

  .contact img {
    width: 60%;
    margin-bottom: 10%;
  }

  .group-one{
    width: auto;
  }

  .group-two{
    width: auto;
  }

  .text-footer h4{
    color: #000;
  }

  .title-recommended {
    margin-top: 10%;
  }

  .copy p{
    text-align: center;
  }

  .title-products {
    font-size: 20px;
  }

  .nav-other {
    margin: 2rem;
  }

  .recomendation {
    padding: 30px 8% 80px;
  }

   .ct-header h1.big {
    font-size: 30px;
  padding-top: 0!important}

  .title-card h5 {
    font-size: 18px;
  }

  .title-card h6 {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
    line-height: 35px;
    background: url(../img/line.png) no-repeat left 13px!important;
  }

  h4{
    color: #fff;
    width: auto;
  }

  .mb-4 h4{
    color: #000;
    font-size: 15px;
  }

  .pt-0.pr-2.pb-2.pl-1.pl-md-5 {
    margin: 2rem;
  }

  .mb-5 h4 {
    font-size: 15px;
  }

  .card-group{
    display: block!important;
    flex-wrap: nowrap!important;
  }

  .father-about{
    padding: 80px;
  }

  .about-content{
    padding: 45px;
  }

  .pagination{
    justify-content: center;
  }
  .card-image-two  {
    width: 100%;
  }

  .card-image-two img {
    width: 100%;
  }

  .wrap.mcb-wrap.two-fifth.valign-middle.clearfix {
    padding: 30px;
    background-image: url(../img/red.jpg)!important;
    background-repeat: no-repeat;
    background-position: center left;
    height: auto;
  }
  .team img{
    display: none;
  }

  .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
    top: -10%;
    transform: translateX(0);
  }

  .wrap.mcb-wrap.three-fifth.valign-middle.clearfix {
    height: auto;
    padding: 10px;
  }

  .text-title h2{
    width: auto;
  }

  .work{  
    color: #000;
    font-size: 20px;
    line-height: 35px;
    padding-left: 0px;
    margin-top: 190%;
    background: url(../img/line.png) no-repeat left 30px!important;
  }

  .marcas{
    padding-top: 115px;
  }

  .card-marcas img{
    width: auto!important;
  }

  .card-marcas.slick-slide img{
    width: 100%!important;
  }

  .marcas-flex > .slick-dotted.slick-slider {
    height: 170px;
  }

  .btn-whatsapp i {
    bottom: 10rem;
  }

  .re-flex{
    display: block!important;
  }

  .g-recaptcha {
    margin-left: 0!important;
    margin-top: 35px;
  }

  .mask-item-img h3 {
   font-size: 35px;
  }

  .header-img-four{
    height: 290px;
  }

  .tabs-info {
    padding-bottom: 0px; 
  }

  button.button{
    width: 100%!important;
  }

  .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    margin-bottom: 2%;
  }

  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 100%!important;
    padding: 5px 0px 45px 0px;
  }

  .quantity{
    width: 100%!important;
  }

  .woocommerce table.cart .product-thumbnail{
    display: initial!important;
  }

  .detail-header{
    max-width:100%!important;
  }

  .woocommerce-billing-fields {
    display: block;
  }
  .woocommerce-billing-fields{
  padding: 0;
  }

  .contact_header h4 {
    font-size: 20px;
  }

  .only{
    color: #000;
  }

}

@media screen and (min-width: 0px) and (max-width: 800px) {

   .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation-name: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
 .search-box{
    width: 100%;
  }

    #search{
    width: 100%;
  }

  .logo {
    padding-top: 0px;
  }

  .fixed-me{
    background: white;
  }

  .responsive-menu-btn>svg.open {
    width: 80%;
    height: auto;
    fill: black;
  }

  .nav-item a{
    color: black;
  }

  .responsive-menu-btn>svg.close{
    fill: #000;
  }

  .img-back img{
    left: 58rem;
  }

  .team img{
    display: none;
  }

  .wrap.mcb-wrap.three-fifth.valign-middle.clearfix {
    padding: 315px 100px;
  }

  .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
    top: -122px;

  }

  .work{ 
    margin-top: 85%;
  } 

  .card-marcas {
    width: auto!important;
  }

  select#category__l2{
    width: 210px!important;
  }
  .category-filter.category-dynamic {
    width: 210px!important;
    margin-left: 0px!important;
    border-right: 1px solid #ccc;
  }


  .nav-search-classi__range-filter {
    margin-left: 0px;
  }

  .nav-search-classi__section{
    display: block;
  }

  .sec-one {
    margin-left: 10px;
    display: flex!important;
  }

  .re-flex{
    display: block!important;
  }

  .about-page{
    padding: 30px;
  }

  fieldset{
    padding: 15px!important;
  }

  .nav-other {
    /* margin-left: 15px; */
    margin: 2rem;
  }

  .woocommerce .cart-collaterals .cart_totals{
    width: 48%;
  }
   .woocommerce table.cart td.actions .button{
    width: 48%!important;
  }

  .woocommerce table.cart td.actions .input-text{
    width: 319px!important;
  }

  .quantity{
    width: 100%!important;
  }

  .detail-header{
    max-width: 100%!important;
  }

  .woocommerce-billing-fields{
    display: block;
    padding-top: 45px;
  }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 800px) and (max-width: 1280px) {


}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
.wrap.mcb-wrap.three-fifth.valign-middle.clearfix {
    padding: 125px 168px;
  }
   .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
    top: -50px;
  }
  .work{
    margin-top: 60%;
    background: url(../img/line.png) no-repeat left 80px!important;
  }

  .responsive-menu-btn>svg.open{
    fill: black;
  }

  .about-page{
    padding: 40px;
  }

  #contact_form {
    margin: 0!important;
  }

  .re-flex{
    display: block!important;
  }

  

}
