
@media screen and (min-width: 0px) and (max-width: 767px) {

   .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .logo {
    padding-top: 0px;
  }

  .fixed-me{
    background: white;
  }

  .responsive-menu-btn>svg.open {
    width: 80%;
    height: auto;
    fill: black;
  }

  .nav-item a{
    color: black;
  }

  .responsive-menu-btn>svg.close{
    fill: #000;
  }
  .two-fifth.mcb-wrap{
    width: auto;
  }

  .three-fifth.mcb-wrap{
    width: auto;
  }

  .mcb-wrap-inner {
    display: inline-grid;
  }

  .father-flex{
    display: flex;
  }

  .father-flex2 {
    justify-content: flex-end;
  }

  #search{
    width: -webkit-fill-available;
    width: -moz-fill-available;
  }

  .slider-inner{
    text-align: center;
    padding: 30px;
  }

  .slick-next.slick-arrow{
    display: none!important;
  }

  .slick-prev.slick-arrow{
    display: none!important;
  }

  #search{
    color: black;
  }

  .nav__menu{
    top: 78px;
  }

  .products {
    padding: 100px 6% 80px;
  }

  form label{
    width: auto;
  }

  .contact-container h3{
    text-align: center;
    padding-top: 25%;
    color: #fff;
    font-size: 23px;
    background: #ccc;
  }

  .contact-container {
    height: auto;
  }

  .form-contact{
    top: 0;
  }
  .contact{
    display: block;
  }

  .background-sorry img{
    display: none;
  }

  .contact img {
    width: 60%;
    margin-bottom: 10%;
  }

  .group-one{
    width: auto;
  }

  .group-two{
    width: auto;
  }
  .text-footer h4 {
    margin-bottom: 10%;
  }

  .copy p{
    text-align: center;
  }

  .title-products {
    font-size: 23px;
    line-height: 35px;
  }

  .recomendation {
    padding: 30px 8% 80px;
  }

  h2 {
    font-size: 23px;
    line-height: 35px;
    background: url(../img/line.png) no-repeat left 13px!important;
  }

  h4{
    color: #fff;
    width: auto;
  }

  .card-product{
    width: 100%!important;
  }

  .pagination{
    justify-content: center;
  }
  .card-image-two  {
    width: 100%;
  }

  .card-image-two img {
    width: 100%;
  }

  .wrap.mcb-wrap.two-fifth.valign-middle.clearfix {
    padding: 30px;
    background-image: url(../img/red.jpg)!important;
    background-repeat: no-repeat;
    background-position: center left;
    height: auto;
  }
  .team img{
    display: none;
  }

  .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
    top: -10%;
    transform: translateX(0);
  }

  .wrap.mcb-wrap.three-fifth.valign-middle.clearfix {
    height: auto;
    padding: 10px;
  }

  .text-title h2{
    width: auto;
  }

  .work{  
    color: #000;
    font-size: 22px;
    line-height: 35px;
    padding-left: 0px;
    margin-top:200%;
    background: url(../img/line.png) no-repeat left 30px!important;
  }

  .marcas{
    padding-top: 115px;
  }

  .card-marcas img{
    width: auto!important;
  }

  .card-marcas.slick-slide img{
    width: 100%!important;
  }

  .marcas-flex > .slick-dotted.slick-slider {
    height: 170px;
  }

  .btn-whatsapp i {
    bottom: 10rem;
  }

  .re-flex{
    display: block;
  }

  .g-recaptcha {
    margin-left: 0;
    margin-top: 35px;
  }

  .mask-item-img h3 {
   font-size: 35px;
  }

  .header-img-four{
    height: 290px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
 .search-box{
    width: 165px;
  }

    #search{
    width: 165px;

  }

  .logo {
    padding-top: 0px;
  }

  .fixed-me{
    background: white;
  }

  .responsive-menu-btn>svg.open {
    width: 80%;
    height: auto;
    fill: black;
  }

  .nav-item a{
    color: black;
  }

  .responsive-menu-btn>svg.close{
    fill: #000;
  }

  .img-back img{
  left: 58rem;
  }

}


@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 800px) and (max-width: 1280px) {


}

@media screen and (min-width: 1024px) and (max-width: 1366px) {

 
}
